
<div class="modal-header">
    <h2 class="modal-title">{{'NEW_SERVER' | translate: translationData}}</h2>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="serverForm">
        <div class="form-group" ng-class="{ 'has-error' : serverForm.serverName.$invalid && !serverForm.serverName.$pristine }">
            <label for="serverName" class="col-sm-2 control-label">{{'NAME' | translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="serverName" name="serverName" placeholder="{{'ENTER_A_NAME' | translate}}" ng-model="server.name" required>
                <p ng-show="serverForm.serverName.$invalid && !serverForm.serverName.$pristine" class="help-block">{{'VALIDATE_IS_REQUIRED' | translate: translationData}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="agency" class="col-sm-2 control-label">{{'AGENCY' | translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="agency" placeholder="Agency"  ng-model="server.agency">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : serverForm.email.$invalid && !serverForm.email.$pristine }">
            <label for="inputEmail" class="col-sm-2 control-label">{{'EMAIL' | translate}}</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="{{'ENTER_AN_EMAIL' | translate}}" ng-model="server.configModel.email">
                <p ng-show="serverForm.email.$invalid && !serverForm.email.$pristine" class="help-block">{{'VALIDATE_EMAIL' | translate}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">{{'DESCRIPTION' | translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" placeholder="{{'ENTER_A_DESCRIPTION' | translate}}" ng-model="server.batchserverModel.description">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createServer()" ng-disabled="serverForm.$invalid">{{'SUBMIT' | translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
</div>