
<div class="modal-header">
    <h2 class="modal-title">{{'SCHEDULE' | translate}}</h2>
</div>
<div class="modal-body">

    <div class="row padding-td-2">
        <div class="col-md-3">
            <h5>{{'DATE' | translate}}:</h5>
        </div>
        <div class="col-md-9">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>
        </div>
    </div>
    <div class="row padding-td-2">
        <div class="col-md-3">
            <h5>{{'TIME' | translate}}:</h5>
        </div>
        <div class="col-md-9">
            <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" show-spinners="false"></uib-timepicker>
        </div>
    </div>
    <div class="row padding-td-2">
        <div class="col-md-3">
            <h5>{{'STATUS' | translate}}:</h5>
        </div>
        <div class="col-md-9">
            <select class="form-control" ng-model="options.scheduleStatus" ng-options="opt for opt in options.status"></select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="schedule()" ng-disabled="">{{'SUBMIT' | translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
</div>