<!doctype html>
<html class="no-js" lang="en" ng-app="dmApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Data Manager</title>

  <link rel="stylesheet" media="screen" href="css/app-prefixed.min.css">
  <link rel="stylesheet" media="screen" href="css/styles.css">
  <link rel="stylesheet" media="screen" href="css/re-skin-v2.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/angular-ui-tree.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/angular-material.min.css">
  <link rel="stylesheet" href="css/octicons.min.css">
  <link rel="stylesheet" href="css/demo.css">

  <script src="js/angular/angular.js"></script>
  <script src="js/angular/angular-ui-router.js"></script>
  <script src="js/angular/angular-resource.js"></script>
  <script src="js/angular/angular-translate.js"></script>
  <script src="js/angular/angular-translate-loader-static-files.js"></script>

  <script src="js/angular/angular-animate.min.js"></script>
  <script src="js/angular/angular-aria.min.js"></script>
  <script src="js/angular/angular-material.min.js"></script>
  <script src="js/directive/diff_match_patch.js"></script>
  <script src="js/directive/angular-diff-match-patch.js"></script>

  <script src="js/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="js/angular/angular-ui-tree.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/service/apiService.js"></script>
  <script src="js/service/services.js"></script>
  <script src="js/controller/GlobalCtrl.js"></script>
  <script src="js/controller/ModalCtrl.js"></script>
  <script src="js/controller/JobListCtrl.js"></script>
  <script src="js/controller/WorkspaceCtrl.js"></script>
  <script src="js/controller/JobDetailCtrl.js"></script>
  <script src="js/controller/SummaryCtrl.js"></script>
  <script src="js/controller/ServerListCtrl.js"></script>


</head>
  <body ng-controller="GlobalCtrl">
    <header class="application-bar layer-2">
      <div class="pull-left">
        <a href="#" class="agency">BPTDEV</a>
        <span class="divider" role="presentation">I</span>
        <span class="product">Accela Automation</span>
      </div>
      <div class="pull-right">
        <a href="" class="alerts"></a>
        <div class="environment dropdown" uib-dropdown="" on-toggle="toggled(open)">
          <select ng-model="options.lang" ng-options="opt for opt in options.langs" ng-click="changeLang(options.lang)"></select>
        </div>
        <div class="settings" id="settings" uib-dropdown is-open="isopen">
          <a class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled"></a>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="">
              <li role="menuitem">
              </li>
              <li role="menuitem"><a href="#">Placeholder</a></li>
              <li role="menuitem"><a href="#">Log Out</a></li>
            </ul>
        </div>
      </div>
    </header>

    <section class="main-container">

      <div class="slideout default-slideout layer-5">
          <div class="pull-left"></div>
          <div class="pull-right">
            <a href="#">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </div>
        <div class="content"> Slide Out Content Template</div>
      </div>
      <nav class="menu-bar layer-3" role="navigation" onload="menubar.onload()">
        <div id="spaces-menu">
          <ul class="text-center" role="menu">
            <li class="spaces" ng-class="{'active': $state.includes('home')}" role="menuitem">
              <div class="icon icon-background" ui-sref="home">
              </div>
              <div class="spaces-name">
                <a ui-sref="home" ng-disabled="" aria-label="tbd" tabindex="100" class="">
                  <div class="display-ellipsis">Home</div>
                  <div class="display-ellipsis"></div>
                </a>
              </div>
            </li>
            <li class="spaces" ng-class="{'active': $state.includes('feature', {type: 'export'}) || $state.includes('job', {type: 'export'})}" role="menuitem">
              <div class="icon icon-background" ui-sref="feature({type: 'export'})">
              </div>
              <div class="spaces-name">
                <a ui-sref="feature({type: 'export'})" ng-disabled="" aria-label="tbd" tabindex="100" class="">
                  <div class="display-ellipsis">Export</div>
                  <div class="display-ellipsis"></div>
                </a>
              </div>
            </li>
            <li class="spaces" ng-class="{'active': $state.includes('feature', {type: 'import'}) || $state.includes('job', {type: 'import'})}" role="menuitem">
              <div class="icon icon-background" ui-sref="feature({type: 'import'})">
              </div>
              <div class="spaces-name">
                <a ui-sref="feature({type: 'import'})" ng-disabled="" aria-label="tbd" tabindex="100" class="">
                  <div class="display-ellipsis">Import</div>
                  <div class="display-ellipsis"></div>
                </a>
              </div>
            </li>
            <li class="spaces" ng-class="{'active': $state.includes('feature', {type: 'delete'}) || $state.includes('job', {type: 'delete'})}" role="menuitem">
              <div class="icon icon-background" ui-sref="feature({type: 'delete'})">
              </div>
              <div class="spaces-name">
                <a ui-sref="feature({type: 'delete'})" ng-disabled="" aria-label="tbd" tabindex="100" class="">
                  <div class="display-ellipsis">Delete</div>
                  <div class="display-ellipsis"></div>
                </a>
              </div>
            </li>
            <li class="spaces" ng-class="{'active': $state.includes('newDM')}" role="menuitem">
              <div class="icon icon-background" ui-sref="newDM">
              </div>
              <div class="spaces-name">
                <a ui-sref="newDM" ng-disabled="" aria-label="tbd" tabindex="100" class="">
                  <div class="display-ellipsis">New DM</div>
                  <div class="display-ellipsis"></div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="ng-scope">
        <!--<div style="overflow : auto; width: 1821px; height: 898px">-->
          <div class="row" ui-view=""></div>
        <!--</div>-->
      </main>
    </section>
  </body>
</html>


